.section_body{
    background: transparent;
    height: 80vh;
}

.section_body_form{
    background-color: transparent;
}


.section_body_form_message{
    margin: 0px;
    padding: 0px;
}

.section_body_back_button{
    width: 100px;
    height: 50px;
    font-weight: bold;
    margin-left: 10px;
}

.section_body_back_button:hover{
    width: 100px;
    height: 50px;
    font-weight: bold;
    background-color: black;
    color: white;
}

.section_body_form_wrapper{
    width: 100%;
    justify-content: center;
    padding-top: 25vh

}

.section_body_form_wrapper_card{
    background-repeat: no-repeat;
    background-image: url("../../images/crinkled-paper.jpg");
    background-size: 100vw;
    border-radius: 5px;
    border-style: solid;
    border-color: green;
    border-width: 1.5px;
}
@media(min-width: 750px){
    .section_body_form_wrapper_card{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        
    }


}

@media(max-width: 750px){
    .section_body_form_wrapper_card{
        width: 90vw;
        margin-left: auto;
        margin-right: auto;   
    }
}



.prompt_game_ID{
    text-align: left;
    color: black;
    font-weight: 500;
    text-shadow: black 1px 1px 1px;
    font-size: 5vw;
    margin-left: 10px;

}

.section_body_form_wrapper_input{
    height: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.section_body_form_wrapper_button{
    height: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

@media(min-width: 360px){

    .section_body_form_wrapper_input{
        width: 200px;
    }


    .section_body_form_wrapper_button{
        width: 100px;
    }
}

@media(max-width: 360px){
    .section_body_form_wrapper_input{
        width: 125px;
    }


    .section_body_form_wrapper_button{
        width: 80px;
    }
}

.section_body_loading{
    margin: 0px;
    padding: 0px;

    margin-left: 10px;
}



.section_body_form_wrapper_success_message{
    color: green;
    padding: 0px;
    margin: 0px;
}
