.section-body {
  background: transparent;
  height: 76vh;
}

.section-body_wrapper {
  width: 100%;
  justify-content: center;
  height: 76vh;
}



.form-wrapper {
  background-repeat: no-repeat;
  background-image: url("../../images/crinkled-paper.jpg");
  margin-left: auto;
  margin-right: auto;
  height: 76vh;
  width: 100vw;
}


.form-wrapper-child{
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}


@media(min-width: 500px){

  .form-wrapper-child{
    width: 90%;
  }

  .form-wrapper {
    background-size: 100vw;
  }
}

@media(max-width: 500px){
  .form-wrapper {
    background-size: 500px;
  }
}

.form-wrapper_text-prompt {
  text-align: left;
  color: black;
  font-weight: 700;
  margin-left: 10px;
  opacity: 85%;
}

.form_stack {
  z-index: 100;
}

.form_input-box {
  outline: none;
  margin-bottom: 10px;
  margin-left: 10px;
  opacity: 85%;
  box-shadow: #282828 0px 1px 4px;
  border-radius: 5px;
}

.form_input-box-phone {
  outline: none;
  margin-bottom: 10px;
  margin-left: 10px;
  opacity: 85%;
  box-shadow: #282828 0px 1px 4px;
  border-radius: 5px;
}

.form_success-message {
  color: green;
  margin-left: 10px;
  font-weight: 600;
}

.section_body_loading {
  margin-left: 10px;
  font-weight: 600;
}

@media (min-width: 800px) {
  .form-wrapper {
    width: 100%;
  }

  .form-wrapper_text-prompt {
    font-size: 50px;
  }

  .form_input-box {
    height: 80px;
    width: 430px !important;
    font-size: 35px;
  }

  .form_input-box-phone {
    height: 80px;
    width: 430px !important;
    font-size: 35px;
  }

  .form_success-message {
    font-size: 20px;
  }

  .section_body_loading {
    font-size: 20px;
  }
}

@media (max-width: 800px) and (min-width: 700px) {
  .form-wrapper {
    width: 100%;
  }

  .form-wrapper_text-prompt {
    font-size: 50px;
  }

  .form_input-box {
    height: 80px;
    width: 430px !important;
    font-size: 35px;
  }

  .form_input-box-phone {
    height: 80px;
    width: 430px !important;
    font-size: 35px;
  }

  .form_success-message {
    font-size: 20px;
  }

  .section_body_loading {
    font-size: 20px;
  }
}

@media (max-width: 700px) and (min-width: 420px) {
  .form-wrapper {
    width: 100%;
  }

  .form-wrapper_text-prompt {
    font-size: 45px;
  }

  .form_input-box {
    height: 60px;
    width: 280px !important;
    font-size: 20px;
  }

  .form_input-box-phone {
    height: 80px;
    width: 400px !important;
    font-size: 35px;
  }

  .form_success-message {
    font-size: 15px;
  }

  .section_body_loading {
    font-size: 15px;
  }
}

@media (max-width: 420px) {
  .form-wrapper {
    width: 100%;
  }

  .form-wrapper_text-prompt {
    font-size: 35px;
  }

  .form_input-box {
    height: 50px;
    width: 50vw !important;
    font-size: 20px;
  }

  .form_input-box-phone {
    height: 80px;
    width: 320px !important;
    font-size: 35px;
  }

  .form_success-message {
    font-size: 15px;
  }

  .section_body_loading {
    font-size: 15px;
  }
}

/* Form Button Css */

.form_button {
  font-weight: bold;
  margin-bottom: 10px;
  opacity: 85%;
  box-shadow: #282828 0px 1px 4px;
  border-radius: 5px;
}

.form_button:hover {
  background-color: lightgray;
}


.form_button-phone {
  font-weight: bold;
  margin-bottom: 10px;
  opacity: 85%;
  box-shadow: #282828 0px 1px 4px;
  border-radius: 5px;
  margin-left: 10px;
}

.form_button-phone:hover {
  background-color: lightgray;
}


@media (min-width: 360px) {
  .form_button {
    width: 100px;
  }

  .form_input-box {
    width: 200px;
  }

  .form_button-phone {
    width: 100px;
  }

  .form_input-box-phone {
    width: 200px;
  }  


}

@media (max-width: 360px) {
  .form_button {
    width: 80px;
  }

  .form_input-box {
    width: 125px;
  }

  .form_button-phone {
    width: 100%;
  }

  .form_input-box-phone {
    width: 125px;
  }
}

.section_body_form {
  background-color: transparent;
}

@media (min-width: 800px) {
  .form_button {
    height: 80px;
    width: 190px !important;
    font-size: 35px;
  }

  .form_failure-message {
    font-size: 20px;
  }

  .form_button-phone {
    height: 80px;
    width: 190px !important;
    font-size: 35px;
  }

}

@media (max-width: 800px) and (min-width: 700px) {
  .form_button {
    height: 80px;
    width: 190px !important;
    font-size: 35px;
  }

  .form_failure-message {
    font-size: 20px;
  }

  .form_button-phone {
    height: 80px;
    width: 190px !important;
    font-size: 35px;
  }
}

@media (max-width: 700px) and (min-width: 420px) {
  .form_button {
    height: 60px;
    width: 110px !important;
    font-size: 20px;
  }

  .form_failure-message {
    font-size: 15px;
  }

  .form_button-phone {
    height: 80px;
    width: 400px !important;
    font-size: 35px;
  }
}

@media (max-width: 420px) {
  .form_button {
    height: 50px;
    width: 30vw !important;
    font-size: 20px;
  }

  .form_failure-message {
    font-size: 15px;
  }

  .form_button-phone {
    height: 80px;
    width: 320px !important;
    font-size: 35px;
  }
}

.form_failure-message {
  font-weight: 600;
  padding-left: 10px;
  font-style: italic;
}


@media(min-width: 700px){
  .form-desktop-wrapper{
    display: block;
  }

  .form-phone-wrapper{
    display: none;
  }
}


@media(max-width: 700px){
  .form-desktop-wrapper{
    display: none;
  }

  .form-phone-wrapper{
    display: block;
  }
}

