.section-header {
  background-color: #282828;
   height: 12vh;
}

.section-header_logo {
  height: 9vh;
  margin-left: 10px;
  margin-top: 1.5vh;
  background-color: black;
  border-radius: 5px;
}

.section-header_logo:hover {
  opacity: 50%;
  cursor: pointer;
}
