.landing-page {
  width: 100vw;
  height: 100vh;
  background: rgb(95, 163, 95);
  background: linear-gradient(
    90deg,
    rgba(95, 163, 95, 1) 3%,
    rgba(83, 135, 83, 1) 100%
  );
}

.landing-page_wrapper {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.landing-page_col {
  padding-top: 20px;
}

.coloured-square-1 {
  background: rgb(95, 146, 163);
  background: linear-gradient(
    90deg,
    rgba(95, 146, 163, 1) 0%,
    rgba(96, 147, 164, 1) 42%,
    rgba(81, 126, 140, 1) 82%
  );
  margin-left: auto;
  margin-right: auto;
}


.landing-page_row {
  padding-top: 20px;
}

/* width: 550px;
    height: 300px; */

.landing-page_img {
  width: 90%;
}

.landing-page_img:hover{
  cursor: pointer;
}

.landing-page_anchor {
  text-decoration-color: rgb(248, 248, 248);
  font-weight: 300;
  font-size: 30px;
  margin-left: 10px;
  color: rgb(248, 248, 248);
}

.landing-page_anchor:hover {
  text-decoration-color: black;
  color: black;
  cursor: pointer;
}

.landing-page_text {
  margin-left: 10px;
  font-size: 50px;
  color: rgb(248, 248, 248);
  font-weight: 700;
  text-align: center !important;
  outline: black;
  text-decoration: none !important;
}

.landing-page_sub-text {
  padding-top: 50px;
  margin-left: 10px;
  font-size: 30px;
  color: rgb(248, 248, 248);
  font-weight: 300;
}

.landing-page_text:hover {
  text-decoration-color: black;
  color: black;
  cursor: pointer;
}

.more-info-anchor{
  text-decoration: none !important;
}

.scroll-icon:hover {
  opacity: 50%;
  cursor: pointer;
}

.home-icon {
  height: 40px;
  width: 40px;
}

.home-icon:hover {
  opacity: 50%;
}

.stack1 {
  width: 75%;
}

.stack2 {
  width: 25%;
}


.scroll-icon{
  border-radius: 15px;
}
.scroll-icon-thin{
  border-radius: 15px;
}

@media(min-width: 576px){
  .scroll-icon{
    width: 90%;
    display: block;
  }

  .scroll-icon-thin{
    display: none;
  }

  .coloured-square-1{
    width: 90% !important;
    border-radius: 15px !important;
  }

  .landing-page_text {
    font-size: 50px;
  }
}


@media(max-width: 576px){
  .scroll-icon{
    display: none;
  }

  .scroll-icon-thin{
    display: block;
    width: 95%;
  }

  .coloured-square-1{
    width: 90% !important;
    border-radius: 8px !important;
  }

  .landing-page_text {
    font-size: 30px;
  }

}



