.section_simulation_header{
    font-size: 30px;
    text-align: left;
}

.section_results{
    padding-bottom: 25px;
}

.section_results_wrapper_tab{
    color: black;
    background-color: white
}

.section_simulation_header{
    color: white;
    text-align: center;
}


.graph_wrapper{
    background-repeat: no-repeat;
    background-image: url("../../images/crinkled-paper.jpg");
    background-size: 100vw;
    border-radius: 5px;
    outline: solid;
    outline-color: green;
    outline-width: 1px;
}

.graph_wrapper_graph{
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

@media(min-width: 800px){
    .graph_wrapper{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .graph_wrapper_graph{
        width: 800px;
    }


    .section_results_wrapper{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
    }
}

@media(max-width: 800px){

    .graph_wrapper{
        width: 100%;
        overflow: scroll;
    }

    .graph_wrapper_graph{
        width: 800px;
    }

    .section_results_wrapper{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
    }

}