:root {
  background: rgb(195,195,195);
background: linear-gradient(90deg, rgba(195,195,195,1) 0%, rgba(244,244,244,1) 72%, rgba(226,226,226,1) 100%);
}



.section_results{
  background: rgb(195,195,195);
  background: linear-gradient(90deg, rgba(195,195,195,1) 0%, rgba(244,244,244,1) 72%, rgba(226,226,226,1) 100%);
}

.section_results_wrapper_tabs{
  width: 300px;
  background-color: white;
}

.section_graph_demand_wrapper{
  margin-left: auto;
  margin-right: auto;
}

.section_graph_storage_wrapper{
  margin-left: auto;
  margin-right: auto;
}

.section_graph_demand{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.section_graph_storage{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}


@media(min-width: 1000px){

  .section_graph_demand_wrapper{
    width: 80%;
    height: 100%;
  }
  .section_graph_storage_wrapper{
    width: 80%;
    height: 100%;
  }

  .section_graph_demand{
    width: 80%;
    height: 100%;
  }
  
  .section_graph_storage{
    width: 80%;
    height: 100%;
  }
}

@media(max-width: 1000px){


  .section_graph_demand_wrapper{
    width: 800px;
  }
  .section_graph_storage_wrapper{
    width: 800px;
  }

  .section_graph_demand{
    width: 800px;
  }
  
  .section_graph_storage{
    width: 800px;
  }

}

.message{
  color: darkred;
}

.prompt_game_ID{
  font-weight: bold;
}

.section_body {
  background-color: white;
}
