body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 1050px) {
  .app_wrapper {
    background-repeat: no-repeat;
    /*background-image: url("./images/gts_temp_collage.jpg");*/
    background-size: 100vw;
    background-attachment: fixed;
    background: rgb(221,218,217);
    background: linear-gradient(90deg, rgba(221,218,217,1) 61%, rgba(203,203,203,1) 100%);
  }
}

@media (max-width: 1050px) {
  .app_wrapper {
    background-repeat: no-repeat;
    /*background-image: url("./images/gts_temp_collage.jpg");*/
    background-size: 1050px;
    background: rgb(221,218,217);
    background: linear-gradient(90deg, rgba(221,218,217,1) 61%, rgba(203,203,203,1) 100%);  
  }
}
