.info-panel_title-section {
    height: 12vh;
  }

.info-panel_exit-button {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 7vh;
}

.info-panel_exit-button:hover {
  opacity: 50%;
  cursor: pointer;
}
  